<!-- <h1>Estación meteorologica CCAI</h1> -->
<div  class="container">

  <!-- Temperature  temperatureValue -->
  <div class="containerGeneralBMP180">
    <div style="margin-right: 15px;">
      <div class="containerbmp180">
        <h2>Pressure</h2>
        <div class="subContainerbmp180">

          <ngx-gauge
          [value]="1030"
           type="arch"
           [thick]="8"
           cap="round"
           [max]=3000
           [size]=100
           backgroundColor = "rgba(0, 0, 0, 0.2)"


          >
        </ngx-gauge>
        <span>hpa </span>
        </div>

      </div>
      <div class="containerbmp180">
        <h2>Altitud</h2>
        <div class="subContainerbmp180">

              <ngx-gauge
              [value]="2240"
              type="arch"
              [thick]="8"
              cap="round"
              [max]=3000
              [size]=100
              backgroundColor = "rgba(0, 0, 0, 0.2)"


              >

            </ngx-gauge>
            <span>meters</span>
        </div>

      </div>
    </div>





    <div class="containerResults">
      <div class="subContainerTemperature">
        <h2>Temperature</h2>
          <ngx-gauge class = "containerGraph__gauge"
              [value]="35"
              type="arch"
              [thick]="10"
              cap="round"
              [max]=80
              [size]=150
              append="C°"
              backgroundColor = "rgba(0, 0, 0, 0.2)"
              >
          </ngx-gauge>
          <span>Templado</span>
      </div>

      <div  class="containerGraph__chart">
        <canvas id="ctx" width="1000" height="400" ></canvas>
      </div>

    </div>

  </div>

<!-- Esta sección es para el pluviometro, anenometro y veleta -->
<div class="containerSensoresMQU">
  <div class="containerbmp180">
    <h2>CO2</h2>
    <div class="subContainerbmp180">

      <ngx-gauge
      [value]="1030"
       type="arch"
       [thick]="8"
       cap="round"
       [max]=3000
       [size]=100
       backgroundColor = "rgba(0, 0, 0, 0.2)"
      >
    </ngx-gauge>
    <span>ppm </span>
    </div>

  </div>

  <div class="containerbmp180">
    <h2>Ultraviolet rays</h2>
    <div class="subContainerbmp180">

      <ngx-gauge
      [value]="8"
       type="arch"
       [thick]="8"
       cap="round"
       [max]=11
       [size]=100
       backgroundColor = "rgba(0, 0, 0, 0.2)"

      >
    </ngx-gauge>
    <span>UV Index</span>
    </div>
    <span>Baja</span>

  </div>

  <div class="containerbmp180">
    <h2>O3</h2>
    <div class="subContainerbmp180">

      <ngx-gauge
      [value]="0.095"
       type="arch"
       [thick]="8"
       cap="round"
       [max]=1
       [size]=100
       backgroundColor = "rgba(0, 0, 0, 0.2)"

      >
    </ngx-gauge>
    <span>ppm </span>
    </div>

  </div>
</div>

<!-- esta sección es para el pluviometro-->
<!-- contenedor para el de pluviometro -->
<div class="containerSensoresMQU">
  <div class="subContainer__WindSpeed" >
    <h2>Wind Speed</h2>
    <div class="subContainerbmp180">
        <ngx-gauge [value]="8"
        type="semi"
        [thick]="13"
        cap="round"
        [size]="200"
        label=""
        append="km/h"
        backgroundColor = "rgba(0, 0, 0, 0.2)"
        >
        </ngx-gauge>
    </div>

    </div>

    <div>
      <div class="subContainer__WindSpeed" >
        <h2>Wind Direction</h2>
          <div class="wrapper" >

            <div class="number-hours">

                <span style="--index:1" > <p>NNE</p>  </span>
                <span style="--index:2" > <p>NE</p>  </span>
                <span style="--index:3" > <p>ENE</p>  </span>
                <span style="--index:4" > <p>E</p>  </span>
                <span style="--index:5" > <p>ESE</p>  </span>
                <span style="--index:6" > <p>SE</p>  </span>
                <span style="--index:7" > <p>SSE</p>  </span>
                <span style="--index:8" > <p>S</p>  </span>
                <span style="--index:9" > <p>SSO</p>  </span>
                <span style="--index:10" > <p>SO</p>  </span>
                <span style="--index:11" > <p>OSO</p>  </span>
                <span style="--index:12" > <p>O</p>  </span>
                <span style="--index:13" > <p>ONO</p>  </span>
                <span style="--index:14" > <p>NO</p>  </span>
                <span style="--index:15" > <p>NNO</p>  </span>
                <span style="--index:16" > <p>N</p>  </span>
            </div>

          </div>
          <span>Templado</span>
      </div>



    </div>




</div>












  </div>






