<!-- <h1>Estación meteorologica CCAI</h1> -->
<div  class="container">

  <!-- Temperature  temperatureValue -->
  <div class="containerGeneralBMP180">
    <div style="margin-right: 15px;">
      <div class="containerbmp180">
        <h2>Pressure</h2>
        <div class="subContainerbmp180">

          <ngx-gauge
          [value]="1030"
           type="arch"
           [thick]="8"
           cap="round"
           [max]=3000
           [size]=100


          >
        </ngx-gauge>
        <span>hpa </span>
        </div>

      </div>
      <div class="containerbmp180">
        <h2>Altitud</h2>
        <div class="subContainerbmp180">

              <ngx-gauge
              [value]="2240"
              type="arch"
              [thick]="8"
              cap="round"
              [max]=3000
              [size]=100


              >

            </ngx-gauge>
            <span>meters</span>
        </div>

      </div>
    </div>





    <div class="containerResults">
      <div class="subContainerTemperature">
        <h2>Temperature</h2>
          <ngx-gauge class = "containerGraph__gauge"
              [value]="35"
              type="arch"
              [thick]="10"
              cap="round"
              [max]=80
              [size]=150
              append="C°"
              >
          </ngx-gauge>
          <span>Templado</span>
      </div>

      <div  class="containerGraph__chart">
        <canvas id="ctx" width="1000" height="400" ></canvas>
      </div>

    </div>

  </div>

<!-- Esta sección es para el pluviometro, anenometro y veleta -->
<div class="containerSensoresMQU">
  <div class="containerbmp180">
    <h2>CO2</h2>
    <div class="subContainerbmp180">

      <ngx-gauge
      [value]="1030"
       type="arch"
       [thick]="8"
       cap="round"
       [max]=3000
       [size]=100
      >
    </ngx-gauge>
    <span>ppm </span>
    </div>

  </div>

  <div class="containerbmp180">
    <h2>Ultraviolet rays</h2>
    <div class="subContainerbmp180">

      <ngx-gauge
      [value]="8"
       type="arch"
       [thick]="8"
       cap="round"
       [max]=11
       [size]=100


      >
    </ngx-gauge>
    <span>UV Index</span>
    </div>
    <span>Baja</span>

  </div>

  <div class="containerbmp180">
    <h2>O3</h2>
    <div class="subContainerbmp180">

      <ngx-gauge
      [value]="0.095"
       type="arch"
       [thick]="8"
       cap="round"
       [max]=1
       [size]=100


      >
    </ngx-gauge>
    <span>ppm </span>
    </div>

  </div>
</div>

<!-- esta sección es para el pluviometro-->
<!-- contenedor para el de pluviometro -->
<div class="containerSensoresMQU">
  <div class="subContainer__WindSpeed" >
    <h2>Wind Speed</h2>
    <div class="subContainerbmp180">
        <ngx-gauge [value]="8"
        type="semi"
        [thick]="13"
        cap="round"
        [size]="200"
        label=""
        append="km/h">
        </ngx-gauge>
    </div>

    </div>

    <div>

      <div class="containerResults">
        <div class="subContainer__WindSpeed">
          <h2>Wind Direction</h2>
            <ngx-gauge class = "containerGraph__gauge"
                [value]="35"
                type="arch"
                [thick]="10"
                cap="round"
                [max]=80
                [size]=150
                append="C°"
                >
            </ngx-gauge>
            <span>Templado</span>
        </div>



      </div>



    </div>

</div>












  </div>






