.container{
  width: 95%;
  height: 100vh;
  color :rgb(110, 110, 110); /* rgb(200, 200, 200) aliceblue  | este color es rgb(110, 110, 110); cuando se ve blanco la pantalla*/
  margin: 0 auto;
 /* border: 1px dashed black; */
  display: flex;
  justify-content: space-evenly;
  flex-wrap: wrap;

}
h1{
  width:100%;
  height: 40px;
  border-radius: 10px;
  text-align: center;
  margin-bottom: 10px;
  color :rgb(110, 110, 110);
  background: rgb(255, 255, 255);
}
h3{
  width: 1fr;
  height: 40px;
  border-radius: 10px;
  border: 1px solid rgb(110, 110, 110);
  text-align: center;
  margin-bottom: 10px;
  background:  rgb(255, 255, 255);
}
.containerGraph{
  width: 1fr;
  display: flex;
  justify-content: space-evenly;
  background:rgb(255, 255, 255);

}
.containerGraph__gauge{
  /* border: 1px solid rgb(30, 30,30);  */

  border-radius: 10px;



}
.containerGraph__chart{
 /* background:rgb(30, 30,30); */
 width: 400px;

}
