<!-- <h1>Estación meteorologica CCAI</h1> -->
<div  class="container">

  <!-- Temperature -->
  <div class="containerSon">
    <div class="containerGraph" >
      <ngx-gauge class = "containerGraph__gauge"
          [value]="temperatureValue"
          type="arch"
          [thick]="gauegeThik"
          cap="round"
          [max]=300
          [size]=220
          label="Temperature"
          append="C°"
          >
      </ngx-gauge>
      <div  class="containerGraph__chart">
        <canvas id="ctx"></canvas>
      </div>
    </div>

  </div>

  <div class="containerGraph">
    <ngx-gauge

      [value]="altitudeValue"
      type="arch"
      [thick]="gauegeThik"
      cap="round"
      [max]=300
      [size]=220
      label="Altitude"
      append="C°"
      >
    </ngx-gauge>
    <div  class="containerGraph__chart">
      <canvas id="altitud"  ></canvas>
    </div>
  </div>
  <div class="containerGraph">
  <ngx-gauge
    [value]="pressureValue"
     type="arch"
     [thick]="gauegeThik"
     cap="round"
     [max]=300
     [size]=220
     label="Pressure"
     append="C°"
    >
  </ngx-gauge>
  <div  class="containerGraph__chart">
    <canvas id="presion"  ></canvas>
  </div>
  </div>

  <div class="containerGraph">
  <ngx-gauge
            [size]=200
             type="arch"
             [thick]="gauegeThik"
             [value]="airQualityValue"
             cap="butt"
             label="Air quality"
             append="C"
             [markers]="markerConfig"

             >
  </ngx-gauge>
  <div  class="containerGraph__chart">
    <canvas id="calidad"  ></canvas>
  </div>
  </div>



  </div>

  <ngx-gauge
  [value]="20"
   type="arch"
   [thick]="8"
   cap="round"
   [max]=300
   [size]=100
   label="Pressure"
   append="C°"
  >
</ngx-gauge>

  <div class="contenedor-3d">
    <p>Temperatura: 25°C</p>
  </div>


