.container{
  width: 90%;
  height: 100vh;
  color :rgb(255, 255, 255) ; /* rgb(200, 200, 200) aliceblue  | este color es rgb(110, 110, 110); cuando se ve blanco la pantalla*/
  margin: 0 auto;
 /* border: 1px dashed black; */


}
h2{
  padding-top: 5px;
  font-size: 20px;
  font-weight: lighter;
}

.containerGeneralBMP180{
  display: flex;
  justify-content: space-between;
  align-content: center;

}
.subContainerTemperature{
  width: 200px;
  height: 240px;
  background: rgb(29,27,30,0.3);
  border-radius: 10px;
  display: flex;
  flex-direction: column;
  justify-content: space-between;


}
.containerResults{
  width: 100%;
  height: 240;
display: grid;
grid-template-columns: 220px 620px;

align-items: center;
}
.containerbmp180{
  width: 300px;
  height: 120px;
  background: rgb(29,27,30,0.3);
  border-radius: 10px;
  margin-bottom: 10px;

}
.subContainerbmp180{
display: flex;
justify-content: center;

}
.containerGraph{
  width: 1fr;
  display: flex;
  justify-content: space-evenly;
  background: #1D1B1E;

}
.containerGraph__gauge{
  /* border: 1px solid rgb(30, 30,30);  */
   width: 146px;
  height: 174px;
  align-self: center;


}
.containerGraph__chart{
 /* background:rgb(30, 30,30); */

 width: 620px;
 border-radius: 10px;
 background: rgb(29,27,30,0.3);
 backdrop-filter: blur(10px);


}

.contenedor-3d {
  width: 200px;
  height: 100px;
  background-color: #f2f2f2;
  border: 1px solid #ccc;
  border-radius: 10px;
  padding: 20px;
  box-shadow: 5px 5px 10px rgba(0, 0, 0, 0.2);
  transform: perspective(500px) rotateX(20deg);
  justify-content: center;
}





h1{
  width:100%;
  height: 40px;
  border-radius: 10px;
  text-align: center;
  margin-bottom: 10px;
  color : rgb(255, 255, 255) ;/*rgb(110, 110, 110);*/
  background: rgb(255, 255, 255);
}
h3{
  width: 1fr;
  height: 40px;
  border-radius: 10px;
  border: 1px solid rgb(110, 110, 110);
  text-align: center;
  margin-bottom: 10px;
  background:  rgb(255, 255, 255);
}

/* sensores mq131, sensores mq135 y rayos ultra violeta  */
.containerSensoresMQU{
  width: 100%;
  display: flex;
  justify-content: space-between;
  align-items: center;
}


/*  */
.subContainer__WindSpeed{
  width: 300px;
  height: 240px;
  background: rgb(29,27,30,0.3);
  border-radius: 10px;
  display: flex;
  flex-direction: column;
  justify-content: space-between;


}
.subContainer__WindSpeed{
  width: 300px;
  height: 240px;
  background: rgb(29,27,30,0.3);
  border-radius: 10px;
  display: flex;
  flex-direction: column;
  justify-content: space-between;


}
/*  wind direction cardinal points      */
.wrapper{
  position: relative;
  width: 150px;
  height:150px;
  border-radius: 50%;

}
.number-hours{
  position:absolute;
  width: 100%;
  height: 100%;
 
  border-radius: 50%;
}
.number-hours span {

  position: absolute;
  transform: rotate(calc(var(--index)*22.5deg));
  inset:6px;
  text-align: center;
}


.number-hours span p{
  font-size: 10px;

  transform: rotate(calc(var(--index)*-22.5deg));

}
